.App {
  text-align: center;
  display:  flex;
  flex-direction: column;
  align-items: center;
}
.header {
  background-color: #ffa502;
  padding: 10px ;
  width: 100%;
}
h1 {
  margin: 0ch;
}
.form {
  margin-top: 25px;
}
.data {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 100%;
  align-items: center;
}
.list {
  display: flex;
  justify-content: space-between;
  width: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h4, p{
  margin: 10px;
}
